/* RESET */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style: none;
}

/* LOGO */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

/* NAV */
.nav-link {
  color: #2e2f42;
  font-weight: 500;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* CONTACTS */
.contacts {
  font-style: normal;
}

.contacts-link {
  color: #434455;
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* HERO */
.hero {
  background-color: #2e2f42;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* TITLES */
.section-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

/* FEATURES */
.features-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.features-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
}

/* TEAM */
.team {
  background-color: #f4f4fd;
}

.team-card {
  background-color: #ffffff;
}

.team-name {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.team-role {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}

/* PORTFOLIO */
.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.portfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
}

/* FOOTER */
.footer {
  background-color: #2e2f42;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
