
/* NAV LINK — базове скидання + типографіка */
.nav-link {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* CONTACT LINK — базове скидання + типографіка */
.contacts-link {
  color: #434455;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* LOGO  */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700; /* ДОБАВИТЬ */
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
}
/* TEAM SECTION BACKGROUND */
.team {
  background-color: #f4f4fd;
}

/* TEAM CARD */
.team-card {
  background-color: #ffffff;
}

/* TEAM TITLE (h2) */
.section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

/* TEAM NAME */
.team-name {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* TEAM ROLE */
.team-role {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* PORTFOLIO TITLE  */

/* PORTFOLIO CARD TITLE */
.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* PORTFOLIO TEXT */
.portfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
